/* Global Variables */
:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --card-size: 240px;
  --item-size: 360px;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

/* Navbar */

nav {
  width: auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.046805);
}
.burguer-menu {
  display: none;
}
.navbar-left {
  display: flex;
}
.navbar-left .logo-title {
  display: flex;
}
.navbar-left .logo {
  width: 100px;
  cursor: pointer;
}
.navbar-left ul,
.navbar-right ul {
  height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-items: center;
}
.navbar-left ul {
  margin-left: 12px;
  gap: 4px;
}
.filter-btn {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
  background-color: var(--white);
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
}

.filter-btn:hover {
  color: var(--hospital-green);
  border: 1px solid var(--hospital-green);
}
.navbar-right .navbar-email {
  display: flex;
  font-size: var(--sm);
  margin-right: 16px;
  cursor: pointer;
}
.navbar-email .arrow-down {
  rotate: 90deg;
  margin-left: 5px;
}
.navbar-right .navbar-shopping-cart {
  cursor: pointer;
  position: relative;
}
.navbar-shopping-cart div {
  width: 14px;
  height: 14px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Desktop Menu */

.desktop-menu {
  position: absolute;
  top: 61px;
  right: 65px;
  background-color: var(--white);
  width: 100px;
  height: auto;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.119789);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  z-index: 7;
}
.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu ul li {
  text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}
.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}
.desktop-menu ul li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
}

/* Mobile Menu */

.mobile-menu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--white);
  transform: translateX(-100vw);
  transition: 0.2s;
}
.mobile-menu figure {
  position: absolute;
  top: 4%;
  right: 5%;
  margin: 0;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.mobile-menu figure img {
  width: 100%;
  height: 100%;
}
.mobile-menu .title-categories {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-size: var(--md);
  margin: 0;
}

.mobile-menu ul > .line-division {
  padding: 0;
}

.mobile-menu .line-division {
  height: 1px;
  opacity: 0.5;
  background-color: var(--very-light-pink);
  border: none;
}

.mobile-menu .btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu .btn-container button {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  padding: 12px 0;
  border: none;
}

.mobile-menu div {
  width: 100%;
  height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.mobile-menu div a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}
.mobile-menu div ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mobile-menu div ul li {
  padding: 8px 0;
}

.mobile-menu div ul:last-child li {
  padding: 0px;
}

.mobile-menu div .email {
  display: inline-block;
  font-size: var(--sm);
  font-weight: 300;
  margin-bottom: 4px;
}
.mobile-menu div .sign-out {
  color: var(--hospital-green);
  font-size: var(--sm);
}
.mobile-menu div ul:nth-child(1) {
  margin-top: 0;
}
.mobile-menu div ul:nth-child(2) li:nth-child(2),
.mobile-menu div ul:nth-child(3) li:nth-child(1),
.mobile-menu div ul:nth-child(3) li:nth-child(2) {
  margin-bottom: 0;
}

/* Shopping Cart */

.shopping-cart {
  background-color: var(--white);
  width: var(--item-size);
  position: absolute;
  top: 60px;
  right: 0;
  display: grid;
  place-content: center;
  z-index: 9;
}
.shopping-cart-container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--item-size);
  height: 550px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.119789);
  border-radius: 5px;
  box-sizing: border-box;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}
.title .back-arrow {
  rotate: 180deg;
  margin-left: 16px;
  margin-right: 24px;
  cursor: pointer;
}
.cart-items {
  width: var(--item-size);
  min-height: 335px;
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-items::-webkit-scrollbar,
.images-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cart-items,
.images-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cart-items .empty-cart-icon {
  width: 80%;
  aspect-ratio: 1;
  filter: invert(88%) sepia(10%) saturate(779%) hue-rotate(77deg)
    brightness(95%) contrast(85%);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--item-size);
  padding: 16px;
  box-sizing: border-box;
}
.cart-item figure,
.cart-item div {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 16px;
}
.cart-item figure img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}
.cart-item figure figcaption {
  font-size: var(--sm);
  color: var(--very-light-pink);
}
.cart-item div .item-price {
  font-size: var(--md);
  font-weight: bold;
}
.cart-item div .delete-item {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.total-payment {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.total {
  background-color: var(--very-light-pink);
  height: 50px;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.total p {
  margin: 0;
}
.total p:nth-child(1) {
  font-size: var(--sm);
  font-weight: bold;
}
.total p:nth-child(2) {
  font-size: var(--md);
  font-weight: bold;
}
.primary-button {
  background-color: var(--hospital-green);
  text-align: center;
  color: var(--white);
  border: none;
  border-radius: 10px;
  height: 70px;
  font-size: var(--lg);
  font-weight: bold;
  cursor: pointer;
}

.--checkout-button {
  height: 50px;
}

/* Product List */

.main-container {
  position: absolute;
  width: 100%;
  background: #fff;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-size));
  gap: 26px;
  margin: 26px 0;
  place-content: center;
}
.product-card {
  width: var(--card-size);
}
.product-image {
  width: var(--card-size);
  height: var(--card-size);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0px;
  margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}
/* .product-info figure {
    margin: 0;
}
.product-info figure img {
    width: 35px;
    height: 35px;
} */
.product-info .add-to-cart-btn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product-info .add-to-cart-btn img {
  width: 35px;
  height: 35px;
}

/* Product Detail */

.product-detail {
  position: absolute;
  right: 0;
  width: var(--item-size);
  background-color: var(--white);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.119789);
  border-bottom-left-radius: 5px;
  z-index: 8;
}
.product-detail-close {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 2;
  width: 14px;
  height: 14px;
  padding: 12px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-detail-close:hover {
  cursor: pointer;
}
.product-detail .product-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.product-detail .item-details {
  margin: 32px 24px 24px;
}
.item-details p:nth-child(1) {
  font-size: var(--lg);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 4px;
}
.item-details p:nth-child(2) {
  font-size: var(--md);
  color: var(--very-light-pink);
  margin-top: 0;
  margin-bottom: 0;
}
.item-details p:nth-child(3) {
  font-size: var(--sm);
  color: var(--very-light-pink);
  margin-top: 20px;
  margin-bottom: 36px;
  text-align: justify;
}
.item-details .primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.primary-button.add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Slider */

.slider {
  position: relative;
  width: var(--item-size);
  height: var(--item-size);
}

.slides-container {
  width: var(--item-size);
  height: var(--item-size);
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  -ms-animation: fadeIn 0.3s;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.--slide-selected {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides-nav {
  position: absolute;
  bottom: 0;
  padding: 0;
  transform: translateY(200%);
  width: 100%;
  display: flex;
  justify-content: center;

  gap: 8px;
}

.slide-btn {
  width: 10px;
  height: 10px;
  display: inline-block;

  background-color: var(--text-input-field);
  border: 1px solid var(--very-light-pink);
  border-radius: 50%;
  cursor: pointer;
}

.--btn-selected {
  background: var(--very-light-pink);
}

/* States of elements */

.inactive {
  display: none;
}

.--active-btn {
  color: var(--hospital-green);
  border: 1px solid var(--hospital-green);
}

.mobile-menu:not(.inactive) {
  transform: translateX(0);
}

.no-scroll {
  overflow: hidden;
}

/* .--product-added {
    background-color: var(--white) !important;
    color: var(--hospital-green) !important;
    border: 1px solid var(--hospital-green) !important;
} */

/* Animation Effects */

/* Cart Notification */
.--alert-notification {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Slides animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media Queries */

@media (max-width: 765px) {
  .burguer-menu {
    display: block;
    cursor: pointer;
  }
  .navbar-left ul,
  .navbar-right .navbar-email,
  .desktop-menu {
    display: none;
  }
}

/* Shopping Cart */

@media (max-width: 640px) {
  :root {
    --card-size: 140px;
  }
  .shopping-cart {
    width: 100vw;
    height: calc(100vh - 60px);
  }
  .shopping-cart-container {
    box-shadow: none;
    border-radius: 0;
    height: calc(100vh - 60px);
  }
  .shopping-cart-container .title {
    display: none;
  }
  .product-detail {
    --item-size: 100%;
    height: fit-content;
  }
  .slide img {
    aspect-ratio: 1;
  }
}

@media (max-width: 350px) {
  :root {
    --item-size: 100vw;
  }
}
